<a href="https://colab.research.google.com/github/Mehadi2012/Data-Science-in-Practice/blob/main/Indexing_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd

df = pd. read_csv('/content/sample_data/Admission_Predict.csv' , index_col =0)
df.head()

            GRE Score  TOEFL Score  ...  Research  Chance of Admit
Serial No.                          ...
1                 337          118  ...         1              0.92
2                 324          107  ...         1              0.76
3                 316          104  ...         1              0.72
4                 322          110  ...         1              0.80
5                 314          103  ...         0              0.65

[5 rows x 8 columns]

In [19]:
df['Serial Number']= df.index
df = df.set_index('Chance of Admit ')
df.head()

                  GRE Score  TOEFL Score  ...  Research  Serial Number
Chance of Admit                           ...
0.92                    337          118  ...         1              1
0.76                    324          107  ...         1              2
0.72                    316          104  ...         1              3
0.80                    322          110  ...         1              4
0.65                    314          103  ...         0              5

[5 rows x 8 columns]

In [20]:
df = df.reset_index()
df.head()

   Chance of Admit   GRE Score  TOEFL Score  ...  CGPA  Research  Serial Number
0              0.92        337          118  ...  9.65         1              1
1              0.76        324          107  ...  8.87         1              2
2              0.72        316          104  ...  8.00         1              3
3              0.80        322          110  ...  8.67         1              4
4              0.65        314          103  ...  8.21         0              5

[5 rows x 9 columns]

In [54]:
df = pd.read_csv('/content/sample_data/census.csv',encoding='latin-1')
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
0      40       3         6  ...     1.383282     1.724718    0.712594
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861

[5 rows x 100 columns]

In [55]:
df['SUMLEV'].unique()

array([40, 50])

In [56]:
df = df[df['SUMLEV'] ==50]
df.head()

   SUMLEV  REGION  DIVISION  ...  RNETMIG2013  RNETMIG2014 RNETMIG2015
1      50       3         6  ...    -2.722002     2.592270   -2.187333
2      50       3         6  ...    22.727626    20.317142   18.293499
3      50       3         6  ...    -7.167664    -3.978583  -10.543299
4      50       3         6  ...    -5.403729     0.754533    1.107861
5      50       3         6  ...    -1.402476    -1.577232   -0.884411

[5 rows x 100 columns]

In [57]:
columns_to_keep = ['STNAME','CTYNAME','BIRTHS2010','BIRTHS2011','BIRTHS2012','BIRTHS2013','BIRTHS2014','BIRTHS2015','POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

    STNAME         CTYNAME  ...  POPESTIMATE2014  POPESTIMATE2015
1  Alabama  Autauga County  ...            55290            55347
2  Alabama  Baldwin County  ...           199713           203709
3  Alabama  Barbour County  ...            26815            26489
4  Alabama     Bibb County  ...            22549            22583
5  Alabama   Blount County  ...            57658            57673

[5 rows x 14 columns]

In [58]:
df = df.set_index(['STNAME','CTYNAME'])
df.head()

                        BIRTHS2010  ...  POPESTIMATE2015
STNAME  CTYNAME                     ...
Alabama Autauga County         151  ...            55347
        Baldwin County         517  ...           203709
        Barbour County          70  ...            26489
        Bibb County             44  ...            22583
        Blount County          183  ...            57673

[5 rows x 12 columns]

In [59]:
df.loc['Alabama','Baldwin County']

BIRTHS2010            517
BIRTHS2011           2187
BIRTHS2012           2092
BIRTHS2013           2160
BIRTHS2014           2186
BIRTHS2015           2240
POPESTIMATE2010    183193
POPESTIMATE2011    186659
POPESTIMATE2012    190396
POPESTIMATE2013    195126
POPESTIMATE2014    199713
POPESTIMATE2015    203709
Name: (Alabama, Baldwin County), dtype: int64

In [65]:
df.loc[[('Michigan', 'Washtenaw County'),
        ('Michigan','Wayne County'),
        ('Alabama','Baldwin County')]]

                           BIRTHS2010  ...  POPESTIMATE2015
STNAME   CTYNAME                       ...
Michigan Washtenaw County         977  ...           358880
         Wayne County            5918  ...          1759335
Alabama  Baldwin County           517  ...           203709

[3 rows x 12 columns]